{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'images/logo-16x16.png'%}" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Albatroz</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/components.css'%}" rel="stylesheet">
    <link href="{% static 'css/auth.css'%}" rel="stylesheet">
    <link href="{% static 'css/forms.css'%}" rel="stylesheet">
    <link href="{% static 'css/media.css'%}" rel="stylesheet">
</head>

<body>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'images/logo/albatroz_logo.png'%}" class="logo-img" alt="Logo">
                        </div>
    
                    </div>
                </div>
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
              <div class="sign-up form" style="max-width: 600px">
                <h1 class="mt-2">User Login</h1>
                <hr class="mt-0 mb-4">
                <form method="post" class="form-group" >
                    {% csrf_token %}
                    {{form|crispy}}
                    <p>Don't have an account?<a href="{% url 'signup'%}"> Create one.</a></p>
                    <button type="submit" class="btn btn-success" ><a href="{% url 'home'%}">Login</a></button>
        
               
                        <div class="col-md-6">
                            <label class="custom-control material-checkbox">
                                <input type="checkbox" class="material-control-input">
                                <span class="material-control-indicator"></span>
                                <span class="material-control-description">Remember Me</span>
                            </label>
                        </div>
                    </form>
                </div>
        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade fingerprint-modal" id="fingerprintModal" tabindex="-1" role="dialog" aria-labelledby="fingerprintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="text-muted display-5">Place your Finger on the Device Now</h3>
                    <img src="{% static 'images/icons/auth-fingerprint.png'%}" alt="Fingerprint">
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="{% static 'js/jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- Optional -->
    <script src="{% static 'js/app.js'%}"></script>
</body>

</html>
