

{% extends 'layout_main.html'%}


{% load static %}

 
{% block 'mainblock' %}
{% include 'layout_settings.html'%}  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/components.css'%}" rel="stylesheet">
    <link href="{% static 'css/settings.css'%}" rel="stylesheet">
    <link href="{% static 'css/forms.css'%}" rel="stylesheet">
    <link href="{% static 'css/media.css'%}" rel="stylesheet">
                            <div class="content">
                                <div class="settings-form p-4">
                                    <h2 class="mb-4">Security &#38; Password</h2>
                                    <h5 class="mb-3 text-muted">Change Password</h5>
                                    <form action="" method="post" class="mt-4 settings-form">
                                        {% csrf_token %}
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="settingsFirstName">First Name</label>
                                                <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="settingsLastName">Last Name</label>
                                                <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-row mb-3 align-items-center">
                                                <div class="col">
                                                    <label for="settingsUsername">Username</label>
                                                    <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp"  placeholder="Username">
                                                    <span><i class='bx bx-check success'></i> Username is available</span>
                                                    <small id="usernameHelp" class="form-text text-muted">Your public username is the same as your timeline address.</small>
                                                </div>
                                
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="settingsEmailAddress">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"  placeholder="Email Address">
                                            <small id="emailHelp" class="form-text text-muted">Updating this email will only change where you receive notifications.</small>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="{% static 'js/jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- Optional -->
    <script type="text/javascript">
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    </script>
    <script src="{% static 'js/components/components.js'%}"></script>
{% endblock %}
